@{
    ViewBag.Title = "后台 | 写新博客";
}

@section headStyle{
    <link rel="stylesheet" href="~/Content_Admin/ueditor/themes/iframe.css" />
}

@section headScript{
    <script type="text/javascript" src="~/Content_Admin/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" src="~/Content_Admin/ueditor/ueditor.all.js"></script>
    <script type="text/javascript" src="~/Content_Admin/ueditor/lang/zh-cn/zh-cn.js"></script>
    <script type="text/javascript" src="~/Content_Admin/ueditor/ueditor.parse.js"></script>

    <script type="text/javascript">
        var editor = new baidu.editor.ui.Editor({
            UEDITOR_HOME_URL: '/Content_Admin/ueditor/',//配置编辑器路径
            iframeCssUrl: '/Content_Admin/ueditor/themes/iframe.css',//样式路径
            initialContent: '写点什么吧....',//初始化编辑器内容
            autoHeightEnabled: true,//高度自动增长
            minFrameHeight: 500//最小高度
        });
        editor.render('editor');  //render('selector')相应的id

        //增加博客事件
        $(document).on('submit', '#archiveform', function () {
            $.post("/Admin/AdminArchives/AddArchive", $(this).serialize(), function (data) {
                if (data.Status == "1") {
                    layer.confirm(data.Message, {
                        btn: ['去博客首页', '回到博客管理']
                    }, function () {
                        window.location.href = "/Home/Index";
                    }, function () {
                        window.location.href = '/Admin/AdminArchives/Index';
                    });
                } else {
                    layer.alert(data.Message);
                }
            });
            return false;
        });

        //取消事件
        $(document).on('click', '#btnCancle', function () {
            layer.confirm('确定放弃修改？', {
                btn: ['是的', '继续修改']
            }, function () {
                window.location.href = '/Admin/AdminArchives/Index';
            })
        });
    </script>

}
<div id="content-header">
    <div id="breadcrumb">
        <a href="Admin/AdminArchives/Inedx" title="Go to Home" class="tip-bottom">
            <i class="icon-home"></i> Home
        </a>
        <a href="#" class="current">写新博客</a>
    </div>
</div>


<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"> <i class="icon-align-justify"></i> </span>
                    <h5>写新博客</h5>
                </div>
                <div class="widget-content nopadding">
                    <form action="" method="post" id="archiveform" class="form-horizontal">
                        <div class="control-group">

                            <label class="control-label span4">标题:</label>
                            <div class="controls">
                                @Html.TextBox("Title", String.Empty, new { @class = "span8" })
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">作者:</label>
                            <div class="controls">
                                @Html.TextBox("Author", "夜无痕", new { @class = "span4" })
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="control-group">
                                <div class="controls mytextarea">
                                    <textarea id="editor" name="Contents" class="span12" style="width:100%"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">文章类别:</label>
                            <div class="controls">
                                @*<jquery校验*@
                                @Html.DropDownList("CategoryId", ViewBag.SelList as IEnumerable<SelectListItem>, "-选择分类-")
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">摘要:</label>
                            <div class="controls">
                                @Html.TextArea("Abstract", new { @class = "span12" })
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">关键词:</label>
                            <div class="controls">
                                @Html.TextBox("Keywords")
                            </div>
                        </div>

                        <div class="control-group">
                            @Html.Label("状态", new { @class = "control-label" })
                            <div class="controls">
                                <label>
                                    @Html.RadioButton("Status", 1, true) 发布
                                </label>
                                <label>
                                    @Html.RadioButton("Status", 0) 不发布
                                </label>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">标签</label>
                            <div class="controls">
                                <label>
                                    <input type="checkbox" name="radios" />
                                    Python
                                </label>
                                <label>
                                    <input type="checkbox" name="radios" />
                                    机器学习
                                </label>
                                <label>
                                    <input type="checkbox" name="radios" />
                                    .NET
                                </label>
                            </div>
                        </div>

                        <div class="form-actions">
                            <button type="submit" id="btnSure" class="btn btn-success">保存</button>
                            <button type="button" id="btnCancle" class="btn btn-warning">取消</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
